<div class="main">
  <app-clock></app-clock>
  <h1>
    My todo list
  </h1>
  <label for="addItemInput">
    What would you like to do today?
  </label>
  <input #newItem placeholder="add an item" (keyup.enter)="addItem(newItem.value); newItem.value = ''"
    class="lg-text-input" id="addItemInput" />

  <mat-form-field>
    <mat-label>Choose a due-date</mat-label>
    <input matInput [matDatepicker]="picker"
            (dateChange)="addItem_withDuedate(newItem.value, $event)">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>


  <!-- <button class="btn-primary" (click)="addItem(newItem.value)">Add</button> -->
  <!-- <button class="btn-primary" (click)="addItem_withDuedate(newItem.value, newItemDate.value)">Add</button> -->

  <h2>
    {{items.length}}
    <span *ngIf="items.length === 1; else elseBlock">item</span>
    <ng-template #elseBlock>items</ng-template>
  </h2>

  <ul>
    <li *ngFor="let i of items">
      <app-item (remove)="remove(i)" [item]="i"></app-item>
    </li>
  </ul>
</div>